// Minimal overrides for Clarity Lab service navigation within GOV.UK Prototype Kit

#cl-lockup { height: 2em; }

@media (min-width: 40.0625em) {
  .govuk-service-navigation__wrapper {
    margin-left: auto;
    padding-top: 0.5em;
  }
}

// Highlight the 'Free' mark in discovery call link
#globalDiscoCall mark {
  background-color: #D19C97;
  padding: 1px 0.25em;
}

