{# Clarity Lab service navigation include #}
<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <span class="govuk-service-navigation__service-name">
        <a href="/" class="govuk-service-navigation__link" aria-label="The Clarity Lab home">
          <img src="/public/images/claritylab-lockup.svg" id="cl-lockup" alt="The Clarity Lab">
        </a>
      </span>
      <!--
      nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation">
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="https://claritylab.uk/thought.html">Blog</a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="https://claritylab.uk/pod/">Podcast</a>
          </li>
          <li class="govuk-service-navigation__item">
            <a id="globalDiscoCall" class="govuk-service-navigation__link" href="https://claritylab.uk/book-a-discovery" title="Is this right for you? - book a free call to find out."><mark>Free</mark> discovery call</a>
          </li>
        </ul>
      </nav
      -->
    </div>
  </div>
</section>
